// primary colours
$warm-red: #FF1E00;
$carbon-black: #15151E;
$off-white: #F7F4F1;
$hi-white: #FFFFFF;
$go-green: #2DB34A;

// secondary colours
$dark-black: #2C2C34;
$med-black: #5B5B61;
$dark-grey: #89898E;
$med-grey: #B8B8BB;

// background colours

// supporting colours

// type is only WHITE OR BLACK

// F1 Warm Red
// Represents the heat, power and passion of Formula 1.
// F1 Carbon Black
// A steely blue tint. A cooling counterpoint to the heat of our red..
// To aid hierarchy, we may use our black in tints of: 90%, 70%, 50%, 30%.
// F1 Off-White
// Our neutral colour that allows our red and black to pop.
// F1 High-Vis White
// Used as a highlight where required.


// F1 Warm Red:
// This is our key brand colour; we use it as a highlight to preserve its power.
// F1 Carbon Black:
// Our carbon black cools our warm red. We use this in large amounts in text and background colour where required.
// F1 Off-White:
// Our neutral colour that allows our red and black to pop.
// We use this in large amounts, such as background colour and in paper stock.
// F1 High-Vis White
// We use pure white as a highlight where required.