// primary colours
$warm-red: #FF1E00;
$carbon-black: #15151E;
$hi-white: #FFFFFF;

// secondary colours
$dark-black: #2C2C34;
$med-black: #5B5B61;
$dark-grey: #89898E;
$med-grey: #B8B8BB;

// supporting colours
$off-white: #F7F4F1;
$go-green: #2DB34A;