@use './breakpoints' as *;

// font types

@mixin font-face($font-name, $file-name, $weight) { 
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + '.ttf')  format('truetype');
    font-weight: $weight;
    font-style: normal;
  }
}

@include font-face(
    "F1",
    "../../assets/fonts/Formula1-Black", 
    700);

@include font-face(
    "F1",
    "../../assets/fonts/Formula1-Bold", 
    600);

@include font-face(
    "F1",
    "../../assets/fonts/Formula1-Regular", 
    300);

@include font-face(
    "F1",
    "../../assets/fonts/Formula1-Wide", 
    500);


@include font-face(
    "Titillium",
    "../../assets/fonts/TitilliumWeb-Regular", 
    400);

@include font-face(
    "Titillium",
    "../../assets/fonts/TitilliumWeb-SemiBold", 
    600);


// font sizes

@mixin font($size, $height, $weight) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin page-header {
  @include font(1.75rem, 2.25rem, 600);
  @include tablet {
    @include font(2rem, 2.5rem, 600);
  }
}

@mixin subheader {
  @include font(1.25rem, 1.75rem, 600);
  @include tablet {
    @include font(1.5rem, 2rem, 600);
  }
}

@mixin labels-links-buttons {
  @include font(0.8125rem, 1.25rem, 400);
  @include tablet {
    @include font(0.875rem, 1.375rem, 400);
  }
}

@mixin table-header {
  @include font(0.6875rem, 1rem, 600);
  @include tablet {
    @include font(0.75rem, 1.125rem, 600);
  }
}

@mixin body-large {
  @include font (0.9375rem, 1.625rem, 400);
  @include tablet {
    @include font(1rem, 1.75rem, 400);
  }
}

@mixin body-medium {
  @include font(0.8125rem, 1.25rem, 400);
  @include tablet {
    @include font(0.875rem, 1.375rem, 400);
  }
}

@mixin body-small {
  @include font(0.6875rem, 1rem, 400);
  @include tablet {
    @include font(0.75rem, 1.125rem, 400)
  }
}


// Display headline
// Wide 64pt
// We use a large headline in our display fonts to grab the reader's attention.
// Supporting headline
// Regular 18pt
// Our supporting headline.
// Long-read body copy
// Titillium 10pt

// We may choose the most appropriate font to match the tone of our headline.
// For example if we're making a
// bold statement, maybe 'Black'
// would communicate this effectively. If we're talking about speed or agility, 'Wide' does this well.
// A more level-headed message, 'Bold' or 'Regular' are great for that.

// In order to keep our type relationships harmonious, we generally set our Bold and Regular typography to a 12pt baseline grid.
// This is a guide only, our pt size and leading may be increased where necessary, particularly for large communications where the pt size is 50pt or over.
// Leading
// Our leading works in increments that are divisible by 3 – for example – 6pt / 12pt / 24pt / 36pt, etc.
// Note: The exception to this rule is 18pt / 15pt / 6pt which hit the baseline every other line.
// Baseline grid
// A 12pt grid informs our baseline grid. To create cohesion across our communications we advise aligning to this baseline wherever possible.
// Note:
// F1 Regular has been drawn with
// a very large 'x-height' – in comparison Titillium has a small 'x-height' – to counter this we may wish to increase the pt size in relation to the leading to avoid a 'gappy' leading.

// Paragraph Headline
// F1 Bold
// Point Size: 42Pt Leading: 48Pt
// Introduction Paragraph
// F1 Regular
// Point Size: 18Pt Leading: 24Pt
// Long-Read Body Text
// Titillium Regular
// Point Size: 15Pt Leading: 18P

// F1 REGULAR - ligature alternatives

// To activate Tabular lining for graphs and tables
// The tablular glyphs are available in the Character menu > OpenType
// > Lining Tabular Figures