$matrix: url(../../assets/graphics/cross-grid-white-bg.svg);

@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-wrap() {
  display: flex;
  flex-wrap: wrap;
}

@mixin containers ($color) {
  background-color: $color;
  background-image: $matrix;
  background-size: 400%;
  background-repeat: no-repeat;
  box-shadow: 0 0 4px $off-white;
  border-radius: 1rem;
  padding: 3rem;
  margin: 0 1rem;
  @include tablet {
    margin: 0 2rem;
  }
  @include desktop {
    max-width: 65rem;
    margin: 0 auto;
  }
}

@mixin user-containers ($color) {
  background-color: $color;
  box-shadow: 0 0 4px $off-white;
  border-radius: 1rem;
  width: 90vw;
  padding: 1rem;
  margin: auto;
  @include tablet {

  }
  @include desktop {
    max-width: 65rem;

  }
}

@mixin CTA-button($color, $font-color, $border) {
  background-color: $color;
  color: $font-color;
  // @include labels-links-buttons;
  height: 2.25rem;
  width: 100%;
  border: $border;
  border-radius: 1.25rem;
  cursor: pointer;
  @include flex(center, center);
  @include tablet {
    height: 2.375rem;
    width: fit-content;
    padding: 0 1rem;
  }
}

@mixin form-field {
  height: 2.25rem;
  width: 100%;
  border: 1px $hi-white;
  border-radius: 1.25rem;
  padding: 0 1rem;
  box-sizing: border-box;
  
  &::placeholder {
    color: grey;
  }

  &:focus {
    outline: 1px solid black;
  }

  @include tablet {
    height: 2.375rem;
    width: 12rem;
    padding: 0 1rem;
  }
  @include desktop {
    width: 17rem;
  }
}

@mixin modal ($background) {
  display: flex;
  @include tablet {
    box-shadow: 0 0 4px $med-grey;
    border-radius: 1rem;
    padding: 1rem 1.5rem 3rem 4rem;
    margin: 0 2.5rem;
    background-color: $background;
  }
  @include desktop {
    margin: 0 auto;
    padding: 1rem 1rem 2rem 4.5rem;
  }
}