@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;

.main-page {


  &__main {
    min-height: 30rem;
  }
  &__main-content {
    display: flex;
    margin: 0 1rem;

    @include tablet {
      margin: 0 auto;
    }
  }

}