@use './styles/partials/fonts' as *;
@use './styles/partials/colors' as *;
@use './styles/partials/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html,
button,
input,
textarea {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "F1", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $hi-white;
  background-color: $carbon-black;
}

a {
  text-decoration: none;
  color: $hi-white;

  &:hover {
    text-decoration: none;
  }
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1 {
  @include page-header;
  color: $hi-white;
  font-weight: 700;
  margin: 0;
}

h2 {
  @include subheader;
  color: $hi-white;
  font-weight: 200;
  margin: 0;
}

h3 {
  @include labels-links-buttons;
  color: $hi-white;
  margin: 0;
}

h4 {
  @include table-header;
  color: $hi-white;
  margin: 0;
  padding-bottom: 0.25rem;
}

p, span {
  @include body-medium;
  font-family: 'Titillium';
  color: black;
  margin: 0;
}